<div *ngIf="hotel" class="hotel-details">
  <div class="hotel-header">
    <h1>{{ hotel.name }}</h1>
    <p>{{ hotel.location }}</p>
    <p>{{ hotel.description }}</p>
    <img [routerLink]="['/home']" [src]="hotel.featuredImage" alt="Hotel Featured Image" />
  </div>

  <div class="rooms-section">
    <h2>Rooms</h2>
    <div *ngFor="let room of rooms" class="room-card">
      <img src="{{ room.images[0].source }}" alt="image" />
      <h3>{{ room.name }}</h3>
      <p>{{ room.description }}</p>
      <p class="room-price">Price: ${{ room.pricePerNight }}</p>
      <a [routerLink]="['/book', room.id]" class="btn-book">Book Now</a>
    </div>
  </div>
</div>