<nav class="navbar">
  <h1 routerLink="/home" class="logo">Hotel Booking</h1>

  
  <div class="burger" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

 
  <ul [class.active]="menuOpen">
    <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
    <li><a routerLink="/booked" routerLinkActive="active-link">Booked</a></li>
  </ul>
</nav>
