
body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background: #ad4444;
background: linear-gradient(90deg, rgba(173, 68, 68, 1) 0%, rgba(40, 207, 237, 1) 0%, rgba(26, 120, 130, 1) 54%, rgba(110, 212, 182, 1) 100%, rgba(149, 215, 151, 1) 100%, rgba(237, 221, 83, 1) 100%);
  }
  
  main {
    flex-grow: 1; 
    padding: 20px;
    background-color: #f4f4f4;
  }