.booked {
    background-color: #f9f9f9;
    padding: 30px 20px;
    font-family: 'Arial', sans-serif;
    min-height: 650px;
  
    h2 {
      font-size: 32px;
      color: #333;
      text-align: center;
      margin-bottom: 40px;
    }

    .no-bookings {
      font-size: 18px;
      color: #777;
      margin: auto;
      text-align: center;
    }
  
    .rooms {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
      padding: 0 10px;

  
      .room {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
  
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        }
  
        p {
          font-size: 16px;
          color: #555;
          margin-bottom: 10px;
  
          strong {
            font-weight: bold;
            color: #333;
          }
        }
  
        button {
          background-color: #e74c3c; 
          color: white;
          border: none;
          padding: 10px 20px;
          font-size: 16px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #c0392b; 
          }
  
          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .delete-by-id {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 20px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
    input {
      flex: 1;
      padding: 10px 12px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 8px;
      outline: none;
      transition: border-color 0.3s ease;
  
      &:focus {
        border-color: #007bff;
      }
    }
  
    button {
      padding: 10px 16px;
      font-size: 16px;
      color: white;
      background-color: #dc3545;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #c82333;
      }
    }
  }
  
  