.booked{
    max-width: 700px;
    min-height: 460px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;

    h2{
        text-align: center;
        margin-bottom: 20px;
        color: #2c3e50;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

}