<form (ngSubmit)="onSubmit(bookingForm)" #bookingForm="ngForm">
  <h2>Book Your Room</h2>

  <input placeholder="Full name" type="text" name="fullName" [(ngModel)]="fullname" required />
  <input placeholder="ID number" type="text" name="idNumber"  required />
  <input placeholder="Phone number" type="text" name="phoneNumber"  required />

  <label>Check-In Date:</label>
  <input type="date" name="checkIn" [(ngModel)]="checkInDate" required />

  <label>Check-Out Date:</label>
  <input type="date" name="checkOut" [(ngModel)]="checkOutDate" required />

  <button type="submit">Book Now</button>
</form>

